USE [master]
GO
/****** Object:  Database [NOTICE]    Script Date: 06/01/2020 13:47:07 ******/
CREATE DATABASE [NOTICE] ON  PRIMARY 
( NAME = N'NOTICE', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\NOTICE.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NOTICE_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\NOTICE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NOTICE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NOTICE]
GO
/****** Object:  User [admin]    Script Date: 06/01/2020 13:47:07 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[FILES]    Script Date: 06/01/2020 13:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FILES](
	[fno] [int] IDENTITY(1,1) NOT NULL,
	[bno] [int] NOT NULL,
	[filename] [varchar](200) NOT NULL,
	[fileOriName] [varchar](300) NOT NULL,
	[fileurl] [varchar](500) NOT NULL,
 CONSTRAINT [PK_FILES] PRIMARY KEY CLUSTERED 
(
	[fno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOARD]    Script Date: 06/01/2020 13:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOARD](
	[bno] [int] IDENTITY(1,1) NOT NULL,
	[gubun] [char](1) NOT NULL,
	[subject] [varchar](50) NOT NULL,
	[content] [varchar](1024) NOT NULL,
	[writer] [varchar](50) NOT NULL,
	[reg_date] [datetime] NOT NULL,
	[mod_date] [datetime] NOT NULL,
	[hit] [int] NULL,
 CONSTRAINT [PK_BOARD] PRIMARY KEY CLUSTERED 
(
	[bno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1=공지사항,2=고시' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOARD', @level2type=N'COLUMN',@level2name=N'gubun'
GO
